<html>
<head>
  <title>__future__ home of Anitai</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container" align="center">
    <h3>Yo this project is currently dead</h3>
    <p>But never fear yung homie. Anitai's development has taken a different route,
      and will now be a private torrent-tracker for all you weeb pieces of shit.</p>
      <ul>
        <li><a href="https://github.com/ModalSeoul/anitai.faith/">Open Source</a></li>
        <li><a href="https://discordapp.com/invite/pPAbdXg">Discord</a></li>
      </ul>
    <img src="https://media.giphy.com/media/HRtgtXbZdc7MQ/giphy.gif">
    <h3>What I'm doing right now</h3>
    <p>Between work I'm writing the tools needed to run a private torrent-tracker.
      The easiest way to keep up with me is to follow me on
      <span>
        <a href="https://github.com/ModalSeoul">Github</a>.
      </span>
      I also use <span><a href="https://twitter.com/ModalSeoul">Twitter</a></span>
      way too much.
    </p>

    <h3>Torrents to hold you over</h3>
      <p>Keep in mind I've only got one seedbox in service at the moment.
        If you'd be so kind, please seed. It helps quite a bit.</p>
      {% for torrent in torrents.torrents %}
      <ul>
        <li>
          <a href="/torrent/{{loop.index0}}">{{torrent.title}}</a>
          <li>Downloads: <span>{{torrent.downloads}}</span></li>
        </li>
      </ul>
      {% endfor %}
      <p>If for whatever reason you run into issues, make sure the trackers for the torrent
      are as follows:</p>
      <ul>
          <li>udp://tracker.openbittorrent.com:80</li>
          <br>
          <li>udp://open.demonii.com:1337</li>
          <br>
          <li>udp://tracker.coppersurfer.tk:6969</li>
          <br>
          <li>udp://tracker.leechers-paradise.org:6969</li>
      <h3>What happened?</h3>
      <p>Anitai was originally meant to be a modular web-based way to view Manga and images.
      Anitai started development around 4/16. Over 9,000 lines of code were put into Anitai's
      original model. Unfortunately, a partner decided they would volunteer for work they had
      absolutely 0 intention of doing, thus, leaving me between a rock and a hard-place. I
      was forced to decide between running Anitai on my own, or scratching the project entirely.
      I currently work on average 50 hours a week, which does not leave me time to run a full-fledged
      community. But I also didn't want to scratch the idea of an anime-based site to deliver content.</p>
  </div>
</body>
